.devise-page
  %h1.page-header Resend confirmation instructions
  .form-box
    = form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
      = render partial: 'devise/shared/error_messages', resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, placeholder: 'email@email.com', autofocus: true
      .sign-in-cta
        = f.submit "Resend confirmation instructions", class: 'btn btn-lrg btn-pink-full'
    %ul.devise-options-list
      = render "devise/shared/links"
