<div class="row">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <form role="form">
    <%= devise_error_messages! %>

    <div class="col-md-6">
      <h3>Enter your personal details</h3>

      <div class="form-group">
        <%= label_tag(:first_name, "Your first name") %>
        <%= f.text_field :first_name, :placeholder => 'First name', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag(:last_name, "Your last name") %>
        <%= f.text_field :last_name, :placeholder => 'Last name', :class => 'form-control' %>
      </div>

      <%
         # Editing password and email for existing users is disabled for now.
         # Feel free to activate it, but propably the RegistrationsController needs
         # to be adapted to make it work.
         if resource.new_record?
      %>

      <div class="form-group">
        <%= label_tag(:email, "Your email address") %> <small>(don't worry, your email won't be displayed publicly)</small><br />
        <%= f.email_field :email, :autofocus => true, :placeholder => 'E-mail', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag("Are you a coach or a student?") %>
        <%= f.select( "type", ["Student", "Coach"], {}, { :class => 'form-control' } )%>
      </div>

      <div class="form-group">
        <%= label_tag(:password, "Enter your password")%>
        <%= f.password_field :password, :placeholder => 'Password',:class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag(:password_confirmation, "Confirm your password")%>
        <%= f.password_field :password_confirmation, :placeholder => 'Password Confirmation', :class => 'form-control' %>
      </div>

      <% end %>

    </div>

    <div class="col-md-6">
      <h3>Additional information</h3>

      <div class="form-group">
        <label for="selectGroup">Please select your Rails Girls Group</label>
        <!-- why it works only when there is empty {}? -->
        <%= f.collection_select(:group_id, Group.all, :id, :name, {}, {:class => 'form-control'}) %>
      </div>

      <div class="form-group">
        <%= label_tag(:twitter, "Your twitter handle") %>
        <%= f.text_field :twitter, :placeholder => '@twitterhandle', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <%= label_tag(:picture, "Add your profile picture") %>
        <%= f.file_field :picture, :placeholder => 'picture' %>
        <p class="help-block">Choose your profile picture</p>
      </div>

      <% if resource.new_record? %>
      <div class="form-group">
        <%= f.submit "Sign up", :class => 'btn btn-info' %>
      </div>
      <%= render "devise/shared/links" %>
      <% else %>
      <div class="form-group">
        <%= f.submit "Save", :class => 'btn btn-info' %>
      </div>
      <% end %>
    </div>

  </form>
  <% end %>
</div>
