= form_for(@comment, url: [@topic.group, @topic, @comment]) do |f|
  = render 'shared/error_messages', object: f.object

  .form-group
    = f.label :body, 'Comment'
    = f.text_area :body, placeholder: 'Leave a comment', class: 'form-control'

  = f.hidden_field :topic_id, value: @topic.id
  = f.hidden_field :person_id, value: current_person.id

  .action-buttons
    = f.submit class: "btn btn-teal"
