%ul.sub-nav{role: "navigation"}
  %li
    = link_to(@person) do
      â† Back to #{@person.name}

.flex-index
  .flex-index-main
    %h1.page-header Edit details of #{@person.name}
    .form-box
      = render 'form'
  .flex-index-sidebar
    %h2.page-header Link account to GitHub
    .form-box
      = render 'provider'
