.container.student-list
  %h1.page-header People overview
  .row
    .col-md-8
      %ul.list-group
        - @people.each do |person|
          %li{class: "list-group-item clearfix #{'list-group-item-warning' if logged_in?(person)}"}
            .row
              .col-md-2
                = person_avatar(person)
              .col-md-8
                %h3
                  = profile_link(person)
                = render partial: "shared/groups", locals: { object: person }

    %aside.sidebar.col-md-4
      = render 'shared/filter'
