<div class="container student-list">
  <h1 class="page-header">People overview</h1>
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <% @people.each do |person| %>
          <li class="list-group-item clearfix <%= 'list-group-item-warning' if logged_in?(person) %>">
            <div class="media pull-left">
              <a class="pull-left" href="<%= person_path(person) %>">
                <%= image_tag(person.picture_url(:thumb), size: "40x40") if person.picture.present? %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= person.full_name %></h4>
                <%= render partial: "shared/groups", locals: { object: person } %>
              </div>
            </div>
            <% if person_signed_in? %>
              <div class="pull-right">
                <div class="btn-group">
                  <%= link_to person_path(person), :class => 'btn btn-default' do %>
                    <%= fa_icon "user", text: "Profile" %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
