.container.student-list
  %h1.page-header People overview
  .row
    .col-md-8
      %ul.list-group
        - @people.each do |person|
          %li{class: "list-group-item clearfix #{'list-group-item-warning' if logged_in?(person)}"}
            .row
              .col-md-2
                - if person.picture?
                  = image_tag(person.picture_url(:person_profile), :width => 300)
                - else
                  = image_tag('/avatar.png', size: "40x40")
              .col-md-8
                %h3
                  - if person_signed_in?
                    = link_to person.full_name, person_path(person)
                  - else
                    = person.full_name
                = render partial: "shared/groups", locals: { object: person }
