<div class="container userprofile">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header clearfix">
        <h1 class="pull-left"><%= @person.full_name %></h1>
        <div class="btn-group pull-right">
          <% if logged_in?(@person) %>
            <%= link_to edit_person_registration_path, html_options = {:class => 'btn btn-default'} do %>
              <%= fa_icon "pencil", text: "edit" %>
            <% end %>
          <% end %>
          <%= link_to people_path, html_options = {:class => 'btn btn-default'} do %>
            <%= fa_icon "arrow-left", text: "back" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 style='display:inline'>Twitter:</h4> <%= render partial: "shared/twitter", locals: { object: @person } %></p>
      <div id='person-show-pic'>
        <%= image_tag(@person.picture_url(:person_profile)) if @person.picture.present? %>
      </div>
    </div>
    <div class="col-md-4">
      <h4>Project Groups:</h4>
      <% if @person.has_group? %>
        <ul>
        <% @person.groups.each do |group| %>
          <li><%= link_to group.name, group_path(group.id) %></li>
        <% end%>
        </ul>
      <% else %>
        <p><%= @person.first_name %> is not in a group.</p>
      <% end %>
    </div>
    <div class="col-md-4" id='working-on'>
      <% if @person.working_on.present? %>
        <h4>Working on</h4>
        <p><%= markdown(@person.working_on) %></p>
      <% elsif @person == current_person %>
        <p>Why not tell the world what you're working on?</p>
      <% end %>
    </div>
  </div>
  <% if logged_in?(@person) %>
    <div class='row'>
      <div class='col-md-2 col-md-offset-10'>
        <div class="btn-group pull-right">
          <%= link_to person_registration_path(@person), method: :delete, data: { confirm: "Are you sure you want to delete your account?" } do %>
              <%= fa_icon 'trash-o', text: 'delete' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
