<div class="container userprofile">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header clearfix">
        <h1 class="pull-left"><%= @person.full_name %></h1>
        <div class="btn-group pull-right">
          <% if current_person && current_person.id == @person.id %>
            <%= link_to edit_person_registration_path, html_options = {:class => 'btn btn-default'} do %>
              <%= fa_icon "pencil", text: "edit" %>
            <% end %>
          <% end %>
          <%= link_to people_path, html_options = {:class => 'btn btn-default'} do %>
            <%= fa_icon "arrow-left", text: "back" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>About</h4>
      <%= image_tag(@person.picture_url(:person_profile)) if @person.picture.present? %>
      <p>Twitter <%= render partial: "shared/twitter", locals: { object: @person } %></p>
    </div>
    <div class="col-md-4">
      <h4>person at</h4>
      <% if @person.has_group? %>
        <ul>
        <% @person.groups.each do |group| %>
          <li><%= link_to group.name, group_path(group.id) %></li>
        <% end%>
        </ul>
      <% else %>
        <p><%= @person.first_name %> is currently in no group.</p>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Working on</h4>
      <p>to be implemented</p>
    </div>
  </div>
  <% if current_person && current_person.id == @person.id %>
    <div class='row'>
      <div class='col-md-2 col-md-offset-10'>
        <div class="btn-group pull-right">
          <%= link_to person_registration_path(@person), method: :delete, data: { confirm: "Are you sure you want to delete your account?" } do %>
              <%= fa_icon 'trash-o', text: 'delete' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
