.container.userprofile
  .row
    .col-md-12
      .page-header.clearfix
        %h1.pull-left= @person.full_name
        .btn-group.pull-right
          - if logged_in?(@person)
            = link_to edit_person_registration_path, html_options = {class: 'btn btn-default'} do
              = fa_icon "pencil", text: "edit"
          = link_to people_path, html_options = {class: 'btn btn-default'} do
            = fa_icon "arrow-left", text: "back"

  .row
    .col-md-3
      #person-show-pic.profile-picture
        = image_tag(@person.picture_url(:person_profile)) if @person.picture?
      - if @person.twitter?
        %p
          Twitter:
          = render partial: "shared/twitter", locals: { object: @person }
    .col-md-4
      %h4 Project Groups:
      - if @person.has_group?
        %ul.list
          - @person.groups.each do |group|
            %li
              - if group.picture?
                = image_tag(group.picture_url(:thumb))
              - else
                = image_tag('/group-avatar.png', size: "40x40")
              = link_to group.name, group_path(group.id)
              - if admin?
                = render partial: 'groups/remove_from_group', locals: { object: @person, group: group }
      - else
        %p
          = @person.first_name
          is not in a group.
    #working-on.col-md-5
      - if @person.working_on?
        %h4 Working on
        %p= markdown(@person.working_on)
      - elsif @person == current_person
        %p Why not tell the world what you're working on?

  - if logged_in?(@person)
    .row
      .col-md-2.col-md-offset-10
        .btn-group.pull-right
          = link_to person_registration_path(@person), method: :delete, data: { confirm: "Are you sure you want to delete your account?" } do
            = fa_icon 'trash-o', text: 'delete'

