=render "subnav"

.no-flex-index
  %h1.page-header
    = @person.full_name
  .flex-profile
    .profile-contact
      .m-b-m
        = render partial: "shared/person_picture", locals: { person: @person }
        - if logged_in?(@person) && @person.non_public?
          .alert-alert.m-t-m.p-s
            Your account is not public
            %br
            %small (only registered users can see your profile)

      %div
        - if location_for?(@person)
          %p
            %strong 🗺️ Based in
            #{@person.city} #{@person.country_name}
        - if @person.github_handle?
          %p
            %strong 🐙 GitHub
            = render partial: "shared/github", locals: { object: @person }
        - if @person.twitter?
          %p
            %strong ️🐦 Twitter
            = render partial: "shared/twitter", locals: { object: @person }
        - if @person.website?
          %p
            %strong 💻 Website
            = render partial: "shared/website", locals: { object: @person }

    .profile-working-on
      .m-b-l.working-on
        - if @person.working_on?
          %h2 Working on
          %p= markdown(@person.working_on)
        - elsif @person == current_person
          %p Why not tell the world what you're working on?

      - if @person.workshop_coach?
        .m-b-l
          %h2 Workshop coach
          %p
            I am willing to coach at
            - if @person.willing_to_travel?
              and to travel to
            a Rails Girls workshop.

    .profile-groups-list
      %h2 Project Groups
      - if @person.has_group?
        %ul.profile-groups
          - @person.groups.each do |group|
            %li.profile-group-item
              = render partial: 'shared/group_picture', locals: { group: group}
              = link_to group.name, group_path(group.id)
              - if admin?
                = render partial: 'groups/remove_from_group', locals: { object: @person, group: group }
      - else
        %p
          = @person.first_name
          is not part of any group.

      - if @person.searching_group?
        %hr
        %p
          %span.tag Searching for a group!
