<%= form_for(@student) do |f|  %>

  <div class="form-group">
    <div class="field">
      <%= f.text_field :first_name, :placeholder => 'first name' %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, :placeholder => 'last name' %>
    </div>
    <div class="field">
      <%= f.text_field :email, :placeholder => 'e-mail' %>
    </div>
    <div class="field">
      <%= f.text_field :group_id, :placeholder => 'group ID' %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
  
<% end %>
