<div class="container student-list">
  <h1>Students overview</h1><br /><br />
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <% @students.each do |student| %>
          <li class="list-group-item clearfix">
            <div class="media pull-left">
              <a class="pull-left" href="<%= student_path(student) %>">
                <%= image_tag(student.picture_url) if student.picture.present? %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= student.full_name %></h4>
                <p><%= student.group.name if student.group %></p>
              </div>
            </div>
              <div class="pull-right">
                <div class="btn-group">
                  <%= link_to student_path(student), :class => 'btn btn-default' do %>
                    <i class="glyphicon glyphicon-user"></i> Profile
                  <% end %>
                  <% if student.has_group? %>
                    <%= link_to group_path(student.group.id), :class => 'btn btn-default' do %>
                        <i class="glyphicon glyphicon-glass"></i> Group
                    <% end %>
                  <% end %>
                </div>
              </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <p>Not on this list? Register now!</p>
      <%= link_to "register", new_student_path, :class => 'btn btn-primary' %>
    </div>
  </div>
</div>