<div class="container userprofile">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header clearfix">
        <h1 class="pull-left"><%= @student.full_name %></h1>
        <div class="btn-group pull-right">
          <% if current_person.id == @student.id %>
            <%= link_to edit_person_registration_path, html_options = {:class => 'btn btn-default'} do %>
              <%= fa_icon "pencil", text: "edit" %>
            <% end %>
          <% end %>
          <%= link_to students_path, html_options = {:class => 'btn btn-default'} do %>
            <%= fa_icon "arrow-left", text: "back" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>About</h4>
      <%= image_tag(@student.picture_url(:person_profile)) if @student.picture.present? %>
      <p>Twitter <%= render partial: "shared/twitter", locals: { object: @student } %></p>
    </div>
    <div class="col-md-4">
      <h4>Student at</h4>
      <% if @student.has_group? %>
        <% @student.groups.each do |group| %>
          <li><%= link_to group.name, group_path(group.id) %></li>
        <% end%>
        <h2><%#= link_to @student.group.name, group_path(@student.group) %></h2>
        <p><%#= fa_icon "map-marker" %> <%#= @student.group.address %><br>
          <%#= fa_icon "clock-o" %> <%#= @student.group.time %></p>
      <% else %>
        <p><%= @student.first_name %> is currently in no group.</p>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Working on</h4>
      <p>to be implemented</p>
    </div>
  </div>
</div>
