<div class="container userprofile">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header clearfix">
        <h1 class="pull-left"><%= @student.full_name %></h1>
        <div class="btn-group pull-right">
          <% if current_person.id == @student.id %>
            <%= link_to edit_student_path(@student.id), html_options = {:class => 'btn btn-default'} do %>
              <i class="glyphicon glyphicon-edit"></i> Edit
            <% end %>
          <% end %>
          <%= link_to students_path, html_options = {:class => 'btn btn-default'} do %>
            <i class="glyphicon glyphicon-arrow-left"></i> Back
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>About</h4>
      <%= image_tag(@student.picture_url(:person_profile)) if @student.picture.present? %>
      <% if @student.has_twitter? %>
        <p><%= link_to @student.twitter_handle, @student.twitter_profile_url, html_options = {:target => '_blank'} %></p>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Student at</h4>
      <% if @student.has_group? %>
        <%= link_to group_path(@student.group) do %>
          <%= image_tag(@student.group.picture_url(:person_profile)) if @student.group.picture? %>
        <% end%>
        <h2><%= link_to @student.group.name, group_path(@student.group) %></h2>
        <p>Meeting every <%= @student.group.time %> <br> at <%= @student.group.address %></p>
      <% else %>
        <p><%= @student.first_name %> is currently in no group.</p>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Working on</h4>
      <p>to be implemented</p>
    </div>
  </div>
</div>
