<div class="container userprofile">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1><%= @student.full_name %></h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4>About</h4>
      <%= image_tag(@student.picture_url) if @student.picture.present? %>
      <p><%= link_to '@'+ @student.twitter, 'http://twitter.com/'+ @student.twitter, html_options = {:target => '_blank'} %></p>
      <p>
        <%= link_to edit_student_path(@student.id) do %>
          <i class="glyphicon glyphicon-edit"></i> edit information
        <% end %>
        <br>
        <%= link_to students_path do %>
          <i class="glyphicon glyphicon-arrow-left"></i> back to students
        <% end %>
      </p>
    </div>
    <div class="col-md-4">
      <h4>Student at</h4>
      <%= image_tag(@student.group.picture) if @student.group.picture? %>
      <h2><%= link_to @student.group.name, group_path(@student.group) %></h2>
      <p>Meeting every <%= @student.group.time %> <br> at <%= @student.group.address %></p>
    </div>
    <div class="col-md-4">
      <h4>Working on</h4>
      <p>to be implemented</p>
    </div>
  </div>
</div>
