<p> Dear <%= @group.name %>

<p><%= @person.first_name %> has joined <%= @group.name %> as a <%= @membership.name %>.</p>

<% if @group.time.present? %>
  <p>You will see them at: <%= @group.time %></p>
<% end %>

<% if @group.address.present? %>
  <p> They will meet you here: <%= @group.address %></p>
<% end %>

<p> That means it's cake time! </p>

<% if @person.twitter? %>
  Want to know more? They are on twitter: @<%= @person.twitter %>
<% end %>

<p>You can find out more about your newest friend by heading over to your
<%= link_to "project group page", group_url(@group) %>.</p>

<p>Best wishes from the RailsGirlsApp </p>

<p> ps - if you like our app, please send cake </p>
