<div class="container">
  <h4>Suggest a topic:</h4>

  <%= form_for([@topic.group, @topic], :html => {:multipart => true}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="form-group">
      <%= f.text_area :body, :placeholder => 'Suggest a topic', :class => 'form-control' %>
    </div>
    <%= f.hidden_field :group_id %>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary"  %>
    </div>
  <% end %>
</div>
