%li
  = markdown(topic.body)
  %p
    %small
      Suggested by
      = link_to topic.person.full_name, person_path(topic.person)
      - if topic.covered_at?
        covered on
        = topic.covered_at
      - else
        on
        = topic.created_at

  - if show_member_buttons?(current_person, @group)
    .action-buttons
      = link_to "View topic", group_topic_path(topic.group, topic), class: "btn btn-small btn-teal"
      = link_to 'Edit', edit_group_topic_path(topic.group_id, topic), class: "btn btn-small btn-teal"
      - unless topic.covered_at?
        = link_to 'Mark as Done', group_topic_path(topic.group_id, topic, topic: { covered: true }), method: :put, class: "btn btn-small btn-teal"
      = link_to 'Delete', group_topic_path(topic.group_id, topic), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-small btn-grey"
