%ul.sub-nav{role: "navigation"}
  %li
    = link_to(@group) do
      â† Back to #{@group.name}

%h1.page-header Topics by #{@group.name}

- if show_member_buttons?(current_person, @group)
  %h4 Suggest a topic:
  .form-box
    = render 'form'

- if @future_topics.size > 0
  .future-topics
    %h2 Future topics
    %ul.topics
      - @future_topics.each do |topic|
        = render partial: 'list_item', locals: { topic: topic}

- if @covered_topics.size > 0
  .covered-topics
    %h2 Past topics
    %ul.topics
      - @covered_topics.each do |topic|
        = render partial: 'list_item', locals: { topic: topic}
