.col-md-6.covered-topics
  %h3 Topics we already covered:

  %table.table
    %thead
      %tr
        %th Covered Topic
        %th User name
        %th

    %tbody
      - @covered_topics.each do |topic|
        %tr
          %td= topic.body
          %td= topic.person.full_name if topic.person
          - if show_member_buttons?(current_person, @group)
            %td.dropdown
              %button.dropdown-toggle{data: { toggle: 'dropdown' }}
                %i.fa.fa-cog
              %ul.dropdown-menu{role: 'menu'}
                %li= link_to 'Edit', edit_group_topic_path(topic.group_id, topic)
                %li= link_to 'Destroy', group_topic_path(topic.group_id, topic), method: :delete, data: { confirm: 'Are you sure?' }

.col-md-6.future-topics
  %h3 Topics we'd like to cover:

  %table.table
    %thead
      %tr
        %th Suggested Topic
        %th User name
        %th

    %tbody
      - @future_topics.each do |topic|
        %tr
          %td= topic.body
          %td= topic.person.full_name if topic.person
          - if show_member_buttons?(current_person, @group)
            %td.dropdown
              %button.dropdown-toggle{data: { toggle: 'dropdown' }}
                %i.fa.fa-cog
              %ul.dropdown-menu{role: 'menu'}
                %li= link_to 'Edit', edit_group_topic_path(topic.group_id, topic)
                %li= link_to 'Done', group_topic_path(topic.group_id, topic, topic: { covered: true }), method: :put
                %li= link_to 'Destroy', group_topic_path(topic.group_id, topic), method: :delete, data: { confirm: 'Are you sure?' }
  - if show_member_buttons?(current_person, @group)
    = render partial: 'topics/form'
