= render 'groups/subnav'

%h1.page-header Topics by #{@group.name}

.flex-index
  .flex-index-main
    - if @future_topics.size > 0
      .future-topics
        %h2 Future topics
        %ul.topics-list
          - @future_topics.each do |topic|
            = render partial: 'list_item', locals: { topic: topic}

    - if @covered_topics.size > 0
      .covered-topics
        %h2 Past topics
        %ul.topics-list
          - @covered_topics.each do |topic|
            = render partial: 'list_item', locals: { topic: topic}

  %aside.flex-index-sidebar
    - if show_member_buttons?(current_person, @group)
      %h4 Suggest a topic:
      .form-box
        = render 'form'
