<div class="container">

  <h3>Topics we'd like to cover:</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Suggested Topic</th>
        <th>User name</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @topics.each do |topic| %>
        <tr>
          <td><%= topic.body %></td>
          <td><%= topic.person.full_name if topic.person %></td>
          <td id='comment-button'><%= link_to 'comments', topic_comments_path %></td>
            <!-- <div id='pop-up-comment-index' style="display:none;">
              <%= render #template: 'topic_comments/index' %>
            </div> -->
          <td><%= link_to 'Edit', edit_group_topic_path(topic.group_id, topic) %></td>
          <td><%= link_to 'Destroy', group_topic_path(topic.group_id, topic), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
