<p id="notice"><%= notice %></p>

<p>
  <strong>User name:</strong>
  <%= @topic.user_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<p>
  <strong>Group:</strong>
  <%= @topic.group_id %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
