<%= form_for(@group, :html => {:multipart => true}) do |f|  %>

  <legend>Register new group</legend>
  <div class="form-group">
      <%= f.text_field :name, :placeholder => 'Name of the group', :class => 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.text_field :address, :placeholder => 'Where we meet', :class => 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.text_field :time, :placeholder => 'When we meet', :class => 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.number_field :number_of_members, :placeholder => 'Max number of participants', :class => 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.file_field :picture, :placeholder => 'How we look like'  %>
  </div>
  <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
  </div>
  
<% end %>
