- if current_person
  = form_for(current_person.memberships.build(group_id: @group.id), html: {class: 'btn-group inline'}, url: memberships_path) do |f|
    = f.hidden_field :group_id
    = f.hidden_field :type, value: 'StudentMembership'
    %button.btn.btn-success
      %i.glyphicon.glyphicon-ok-circle
      join as member!
  = form_for(current_person.memberships.build(group_id: @group.id), html: {class: 'btn-group inline'}, url: memberships_path) do |f|
    = f.hidden_field :group_id
    = f.hidden_field :type, value: 'CoachMembership'
    %button.btn.btn-success
      %i.glyphicon.glyphicon-ok-circle
      join as coach!
- else
  %a.btn.btn-success{href: new_person_registration_path}
    %i.glyphicon.glyphicon-ok-circle
      sign up to join!