%li{class: "list-group-item"}
  .list-group-item-pic
    = render partial: 'shared/group_picture', locals: { group: group}

  .list-group-item-info
    %h3= link_to group.name, group
    %p
      - if group.full?
        %span.tag.tag-full
          Full
      - if group.inactive?
        %span.tag.tag-inactive
          Inactive
      - if group.allow_male_students?
        %span.tag
          Mixed group
    %p
      %strong When:
      = group.time
    %p
      %strong Where:
      = group.address
    %p
      %strong Address:
      = group_location(group)
