%li{class: "list-group-item"}
  .list-group-item-pic
    = render partial: 'shared/group_picture', locals: { group: group}

  .list-group-item-info
    %h3= link_to group.name, group
    %p
      - if group.full?
        %span.tag.tag-full
          Full
      - if group.inactive?
        %span.tag.tag-inactive
          Inactive
      - if group.allow_male_students?
        %span.tag
          Mixed group
      - if group.searching_coaches
        %span.tag
          Searching for coaches
      - if group.searching_students
        %span.tag
          Searching for students
      - if group.searching_location
        %span.tag
          Searching for location
    %p
      %strong When:
      - if group.time?
        = group.time
      - else
        %span.info-not-given
          not specified
    %p
      %strong Where:
      - if group.address?
        = group.address
      - else
        %span.info-not-given
          not specified
    %p
      %strong Address:
      = group_location(group)
