%ul.sub-nav{role: "navigation"}
  %li= link_to "All groups", groups_path, class: group_subnav_active_class('index')
  %li= link_to "Recently added", recent_groups_path, class: group_subnav_active_class('recent')
  %li= link_to "Groups searching", searching_groups_path, class: group_subnav_active_class('searching')
  %li= link_to "Inactive groups", inactive_groups_path, class: group_subnav_active_class('inactive')
  %li= link_to "My Groups", my_groups_path, class: group_subnav_active_class('my_groups')


  - if @group.present?
    - if show_member_buttons?(current_person, @group) || current_person.admin?
      - if current_person.admin_member_of?(@group)
        %li= link_to 'Edit group', edit_group_path(@group)
        %li
          = link_to manage_members_group_path(@group) do
            Manage members
            - if @group.invites.first
              .tag.tag-invert= @group.invites.size
      - if current_person.admin? && !current_person.admin_member_of?(@group)
        %li= link_to 'Edit as admin', edit_group_path(@group)
