%ul.sub-nav{role: "navigation"}
  %li= link_to "All groups", groups_path, class: group_subnav_active_class('index')
  %li= link_to "Open groups", open_groups_path, class: group_subnav_active_class('open')
  %li= link_to "Groups searching", searching_groups_path, class: group_subnav_active_class('searching')
  %li= link_to "Recently added", recent_groups_path, class: group_subnav_active_class('recent')
  %li= link_to "Inactive groups", inactive_groups_path, class: group_subnav_active_class('inactive')

  - if @single_page.present?
    %li= link_to @group.name, group_path(@group), class: group_subnav_active_class('show')
    - if show_member_buttons?(current_person, @group) || current_person.admin?
      - if current_person.admin_member_of?(@group)
        %li= link_to 'Edit group', edit_group_path(@group)
        %li= link_to 'Manage members', manage_members_group_path(@group)
      - if current_person.admin? && !current_person.admin_member_of?(@group)
        %li= link_to 'Edit as admin', edit_group_path(@group)
