.container
  %h1.page-header Groups overview
  .row
    .col-md-8
      %ul.list-group
        - @groups.each do |group|
          %li{class: "list-group-item clearfix"}
            .row
              .col-md-2
                - if group.picture?
                  = image_tag(group.picture_url(:person_profile))
                - else
                  = image_tag('/group-avatar.png', size: "40x40")
              .col-md-8
                %h3= link_to group.name, group
                %p
                  %strong When?
                  = group.time
                %p
                  %strong Where?
                  = group.address
              .col-md-2
                %p
                  - if group.editable_by?(current_person)
                    = link_to edit_group_path(group) do
                      = fa_icon "edit", text: 'edit'
                  - if group.deletable_by?(current_person)
                    = link_to("delete", group_path(group), method: :delete, data: {confirm: 'Are you sure you want to delete this group?'}) if group.deletable_by?(current_person)
    %aside.sidebar.col-md-4
      %h3 Hey listen!
      %p If you don't see your project group - feel free to add it!
      = link_to "register new group", new_group_path, :class => 'btn btn-primary'
