%ul.sub-nav{role: "navigation"}
  %li= link_to "All groups", groups_path, class: 'active'
  -# TODO: Implement filters for sub-navigation + .active class
  -# %li= link_to "Open groups", groups_path
  -# %li= link_to "Recently added", groups_path
  -# %li= link_to "Inactive groups", groups_path

// Q: Load several sub pages in this haml? Paginate?

.flex-index
  .flex-index-main
    %h1.page-header Groups overview
    %ul.list-group
      = render partial: 'one_group', collection: @groups, as: :group

    %h2.page-header Inactive groups
    %ul.list-group
      = render partial: 'one_group', collection: @inactive_groups, as: :group

  %aside.flex-index-sidebar
    %h2.page-header New Groups
    %p If you don't see your project group, feel free to add it!
    %p.sign-in-cta
      = link_to "Register new group", new_group_path, class: 'btn btn-pink-full'
    = render partial: 'shared/filter', locals: { path: groups_path }
