<div class="container">
	<h1>Welcome to the rails girls app!</h1><br /><br />
	<div class="row-fluid">
		 <div class="span8">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Address</th>
						<th>Time</th>
						<th>Edit</th>
						<th>Picture</th>
					</tr>
				</thead>
				<tbody>
					<% @groups.each do |group| %>
						<tr>
							<td>
							<%= link_to group.name, group %>
							</td>
							<td><%= group.address %></td>
							<td><%= group.time %></td>
							<td><%= link_to "edit", edit_group_path(group) %></td>
							<td><%= image_tag(group.picture_url, :width =>60) if group.picture.present? %></td>
	
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div class="sidebar span4">
			<p>If you don't see your project group - feel free to add it! </p>
			<%= link_to "register new group", new_group_path, :class => 'btn btn-primary' %>
		</div>
	</div>
</div>
