.container.groupprofile
  .row
    .col-md-12
      .page-header.clearfix
        %h1.pull-left= @group.name
        .pull-right
          .btn-group
            = link_to groups_path, html_options = {:class => 'btn btn-default'} do
              %i.glyphicon.glyphicon-arrow-left
              overview

            - if show_group_member_buttons? current_person, @group
              .btn-group
                %button.btn.btn-default.dropdown-toggle{:type => "button", "data-toggle" => "dropdown"}
                  %span.glyphicon.glyphicon-cog
                  %span.caret
                %ul.dropdown-menu.pull-right{:role => "menu", "aria-labelledby" => "dropdownMenu1"}
                  %li
                    = link_to edit_group_path(@group.id) do
                      %i.glyphicon.glyphicon-edit
                      edit group
                  %li.divider
                  %li
                    = render 'leave'

            - if show_join_group_button? current_person, @group
              = render 'join'

  .row.group-info
    .col-md-4
      .row
        .col-md-10
          = image_tag(@group.picture_url(:person_profile), class: 'profile-picture') if @group.picture?
      .row
        .col-md-12
          %p
            %strong
              = fa_icon "map-marker"
              = @group.address
            %br
            = fa_icon "clock-o"
            %strong
              = @group.time
          - if @group.contact?
            %p
              %strong Contact us:
              = auto_link @group.contact
          - if @group.twitter?
            %p
              %strong Our Twitter: 
              = render partial: "shared/twitter", locals: { object: @group }
          - if @group.level?
            %p
              %strong Level: 
              = @group.level
          - if @group.founded_on?
            %p
              %strong Founded:
              = @group.founded_on
          - if @group.activities?
            %p
              = markdown(@group.activities)
    .col-md-4
      %h4 Students
      %p
        This group currently has #{pluralize @group.students.length, "student"}.
      %ul
        - @group.students.each do |student|
          %li= link_to student.first_name, person_path(student)
      %h4 Coaches
      %p
        This group currently has #{pluralize @group.coaches.length, "coach"}.
      %ul
        - @group.coaches.each do |coach|
          %li= link_to coach.first_name, person_path(coach)
    #group-map.col-md-4
      .map
        = groups_map @group

  .row.topics
    = render template: "topics/index"
