<div class="container groupprofile">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header clearfix">
        <h1 class="pull-left"><%= @group.name %></h1>
        <div class="btn-group pull-right">
          <%= link_to groups_path, html_options = {:class => 'btn btn-default'} do %>
            <i class="glyphicon glyphicon-arrow-left"></i> overview
          <% end %>
          <% if show_group_member_buttons? current_person, @group %>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-cog"></span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                  <li>
                    <%= link_to edit_group_path(@group.id) do %>
                      <i class="glyphicon glyphicon-edit"></i> edit group
                    <% end %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "#" do %>
                      <i class="glyphicon glyphicon-remove-circle"></i> leave group
                    <% end %>
                  </li>
              </ul>
            </div>
          <% end %>
          <% if show_join_group_button? current_person, @group %>

            <%= form_tag(person_registration_path, method: 'put') do %>
              <input type="hidden" name="person[group_id]" value="<%= @group.id %>">
              <button class="btn btn-success"><i class="glyphicon glyphicon-ok-circle"></i> join group!</button>

            <% end %>

          <% end %>

        </div>
      </div>
    </div>
  </div>
  <div class="row group-info">
    <div class="col-md-4">
      <p>Meeting at <strong><%= @group.address %></strong><br>
      every <strong><%= @group.time %>.</strong>
      </p>
      <p>We prefer to have up to <strong><%= @group.number_of_members %></strong> members.</p>
      <% if @group.has_twitter? %>
        <p>Follow us on twitter <%= link_to @group.twitter_handle, @group.twitter_profile_url, html_options = {:target => '_blank'} %></p>
      <% end %>
      <p> Contact us <%= auto_link @group.contact %></p>
      <p> What we do: <%= auto_link @group.activities %></p>
    </div>
    <div class="col-md-4">
      <h4>Students</h4>
      <p>This group currently has <%= pluralize @group.students.length, "member" %>.</p>
      <ul>
        <% @group.students.each do |student| %>
        <li><%= link_to student.first_name, student_path(student) %></li>
        <% end %>
      </ul>
      <h4>Coaches</h4>
      <p>This group currently has <%= pluralize @group.coaches.length, "coach" %>.</p>
      <ul>
        <% @group.coaches.each do |coach| %>
        <li><%= link_to coach.first_name, coach_path(coach) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-4" id="group-map">
      <div class="map">
        <%= map(
            :container_id => "group-map",
            :center => {
            :latlng => [@group.latitude, @group.longitude],
            :zoom => 16
          },
          :markers => [
            {
              :latlng => [@group.latitude, @group.longitude],
            }
          ],
          :attribution => "Map data &copy; <a href=\"http://openstrteetmap.org\" target=\"_blank\">OpenStreetMap</a> contributors, <a href=\"https://creativecommons.org/licenses/by-sa/2.0/\" target=\"_blank\"  >CC-BY-SA</a>, Imagery &copy; <a href=\"http://cloudmade.com\" target=\"_blank\">CloudMade</a>",
        )%>
      </div>
    </div>
  </div>
  <div class="row">
    <%= render template: "topics/index" %>
    <%= render template: "topics/_form" if show_group_member_buttons? current_person, @group %>
  </div>

</div>
