.container
  .row
    .col-md-4
      %h2 Change your password
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        %form.form{ role: "form" }
          = devise_error_messages!
          = f.hidden_field :reset_password_token
          .form-group
            = f.label :password, "New password"
            = f.password_field :password, autofocus: true, class: 'form-control'
          .form-group
            = f.label :password_confirmation, "Confirm new password"
            = f.password_field :password_confirmation, autofocus: true, class: 'form-control'
          %div
            = f.submit "Change my password", class: 'btn btn-primary'
      = render "devise/shared/links"
