%h2.page-header Filter by
= form_tag url_for, method: 'get', class: 'filter' do
  .form-group
    %label{for: 'city'}
      City
    = select_tag 'city', options_for_select(@cities), include_blank: 'Choose…', class: 'filter-select'

  .form-group
    %label{for: 'country'}
      Country
    = select_tag 'country', options_for_select(country_names_for_select(@countries)), include_blank: 'Choose…', class: 'filter-select'

  - if current_page?(coaches_path)
    .form-inline.checkbox-div
      %label{for: 'willing_to_travel'}
        Willing to travel?
        = check_box_tag 'willing_to_travel'
        %span.checkbox-el

  .filter-buttons
    = submit_tag 'Filter', class: 'btn btn-grey-full'
    - if %w(city country willing_to_travel).any? { |p| params[p] }
      = link_to "Reset", path, class: 'btn btn-grey'
