%ul.list-group
  - grouped_people.sort.each do |letter, people|
    .letter-header{id: "#{letter}"}
      = letter
    - people.each do |person|
      %li{class: "list-group-item clearfix #{'list-group-item-warning' if logged_in?(person)}"}
        .list-group-item-pic
          = person_avatar(person)
        .list-group-item-info
          %h3
            = profile_link(person)
          = render partial: "shared/groups", locals: { object: person }
          - if logged_in?(person)
            .list-group-item-person
              It's you
            - if location_for?(person)
              %p #{person.city} #{person.country_name}
