.hero
  %h1
    = image_tag "rorganizeit-logo.svg", class: "logo-ror"
  %h2 Find other learners, coaches and groups <br>and learn how to code!
  - unless logged_in?
    %p.sign-in-cta
      Don't have an account yet? Sign up and find a group near you!
    %p.sign-in-cta
      = link_to "Sign up", new_person_registration_path, class: 'btn btn-lrg btn-pink-full', id: 'signup-button'
.home-find
  .home-find-groups
    = image_tag "groups.png", class: 'landing-image'
    %h3= link_to "Find a project group", groups_path
    %p
      Find project and study groups from all over the world, both for total beginners and advanced learners. Not only for Ruby!
    %p.home-find-btn
      = link_to "All groups", groups_path, class: 'btn btn-teal'
  .home-find-people
    = image_tag "people.png", class: 'landing-image'
    %h3= link_to "Find fellow learners", people_path
    %p
      Find learners and coaches who are sharing knowledge in study groups as well as people who coach at Rails Girls workshops.
    %p.home-find-btn
      = link_to "All people", people_path, class: 'btn btn-teal'
.hero
  %h2 Discover and meet
  %p
    = pluralize(@membership_count.fetch('StudentMembership', 0), 'student')
    and
    = pluralize(@membership_count.fetch('CoachMembership', 0), 'coach')
    in
    = pluralize(@groups.size, 'group')

  #map.index-map

    %ul.hidden
      - @groups.each do |group|
        - if group.address?
          %li{data: {long: group.longitude, lat: group.latitude }}
