.hero
  %h1 RoRganize.it
  %h2 Find other Rails Girls students, coaches and project groups!
  - unless person_signed_in?
    %p
      If you are a student or a coach and not signed up - feel free to register!
      = link_to "Sign up", new_person_registration_path, class: 'btn btn-primary', id: 'signup-button'
.index-find
  .index-find-groups
    = image_tag "groups.png", class: 'landing-image'
    %h3= link_to "Find a project group", groups_path
    %p= link_to "All The Groups", groups_path, class: 'btn btn-primary'
  .index-find-people
    = image_tag "people.png", class: 'landing-image'
    %h3= link_to "Find fellow rubyists", people_path
    %p= link_to "All The Rubyists", people_path, class: 'btn btn-primary'
.hero.stats
  %h2 Discover and meet
  %p
    = pluralize(@students.size, 'student')
    and
    = pluralize(@coaches.size, 'coach')
    in
    = pluralize(@groups.size, 'group')

.github-fork-ribbon-wrapper.left-bottom
  .github-fork-ribbon
    %a{ href: "https://github.com/rubycorns/rorganize.it"} Fork me on GitHub
