.welcome-page
  %h1.page-header
    Welcome to rorganize!

  .welcome-text
    %p
      This is a website that helps connect learners with project groups.
    %p
      You're probably here because you recently went to a workshop of some kind and want to keep learning.
    %p
      Here's a short tutorial to get you started!

  %section.one
    .join-group-box
      %h3 Looking for a group?
      %ol
        %li
          %a{ href: groups_path } Head over to the groups page
        %li
          Pick a group and join it!
      %figure.picture-box
        // TODO: new screenshot
        = image_tag asset_path('join.png')

    .or-box
      %p
        or

    .create-group-box
      %h3 Don't see a group for you?
      %ol
        %li
          %a{ href: groups_path } Head over to the groups page
        %li
          Register a new group!
      %figure.picture-box
        // TODO: new screenshot
        = image_tag asset_path('make.png')

    .then-flex-item
      %p.then-box
        then

      .tell-other-box
        %h3 Tell others about you!
        %ol
          %li
            - if logged_in?
              %a{ href: edit_person_registration_path(current_person.id) } Head over to your profile
            - else
              %a{ href: new_person_session_path } Log in and head over to your profile
          %li
            Upload a picture so your new project group knows what you look like!
          %li
            Tell us what you are working on
          %li
            Fill in your twitter handle (if you want)

        %figure.picture-box
          // TODO: new screenshot
          = image_tag asset_path('make_profile.png')

  .section.two
    .picture-box.img-circle
      = image_tag asset_path('cake.gif'), class: 'img-circle'
    .additional-suggestions
      %h2
        More possibilities
      %ul
        %li
          Read our
          %a{ href: posts_path } blog
          for updates
        %li
          Fork the app on
          %a{ href: 'https://github.com/rubycorns/rorganize.it' } Github
        %li
          Open
          %a{ href: 'https://github.com/rubycorns/rorganize.it/issues' } an issue
          if you have suggestions
        %li
          and most important of all, make us some cake
          = markdown(":cake:")
