%article.welcome-page
  %h1.page-header
    Welcome to RoRganize.it!

  .welcome-text
    %p
      Rorganize.it is a website that helps
      %strong connect learners with project groups.
    %p
      You're probably here because you recently went to a coding workshop of some kind and want to keep learning.
    %p
      Here's a
      %strong short guide to get you started!

  %section.one
    %div.or-flex-item
      .join-group-box
        %h2 Looking for a group?
        %ol
          %li
            %a{ href: groups_path } Head over to the groups page
          %li
            Pick a group and join it!
        %figure.picture-box
          // TODO: new screenshot
          = image_tag asset_path('join.png')

      .or-box
        %p
          or

      .create-group-box
        %h2 Don't see a group for you?
        %ol
          %li
            %a{ href: groups_path } Head over to the groups page
          %li
            Register a new group!
        %figure.picture-box
          // TODO: new screenshot
          = image_tag asset_path('make.png')

    .then-flex-item
      %p.then-box
        then

      .tell-other-box
        %div
          %h2 Tell others about you!
          %ol
            %li
              - if logged_in?
                %a{ href: edit_person_registration_path(current_person.id) } Head over to your profile
              - else
                %a{ href: new_person_session_path } Log in and head over to your profile
            %li
              Upload a picture so your new project group
              %br knows what you look like!
            %li
              Tell us what you are working on
            %li
              Fill in your twitter handle (if you want)
        %figure.picture-box
          // TODO: new screenshot
          = image_tag asset_path('make_profile.png')

  %section.two
    .picture-box.img-circle
      = image_tag asset_path('cake.gif'), class: 'img-circle'
    .additional-suggestions
      %h2
        More possibilities
      %ul
        %li
          We compiled a list of
          %a{ href: about_path } frequently asked questions
        %li
          Read our
          %a{ href: posts_path } blog
          for updates
        %li
          Fork the app on
          %a{ href: 'https://github.com/rubycorns/rorganize.it' } Github
        %li
          Open
          %a{ href: 'https://github.com/rubycorns/rorganize.it/issues' } an issue
          if you have suggestions
        %li
          And most important of all, make us some cake
          = markdown(":cake:")
