.devise-page
  %h1.page-header Sign in
  .form-box
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render partial: 'devise/shared/error_messages', resource: resource
      .form-group
        = f.label :email
        = f.email_field :email, placeholder: 'email@email.com', autofocus: true
      .form-group
        = f.label :password
        = f.password_field :password, placeholder: 'Password'
      - if devise_mapping.rememberable?
        .form-inline
          = f.check_box :remember_me
          = f.label :remember_me
      .sign-in-cta
        = f.submit "Sign in", class: 'btn btn-lrg btn-pink-full'
    %ul.devise-options-list
      = render "devise/shared/links"
