<%= form_for(@coach) do |f|  %>

  <div class="form-group">
    <div class="field">
      <%= f.text_field :first_name, :placeholder => 'first name' %>
    </div>
    <div class="field">
      <%= f.text_field :last_name, :placeholder => 'last name' %>
    </div>
    <div class="field">
      <%= f.text_field :email, :placeholder => 'e-mail' %>
    </div>
    <div class="field">
      <%= f.file_field :picture, :placeholder => 'picture' %>
    </div>
    <div class="field">
      <%= f.collection_select(:group_id, Group.all, :id, :name) %>
    </div>
    <div class="actions">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
  
<% end %>
