.container
  .row
    .col-sm-12
      %h1
        This is a coach list
      %p
        More specifically, it is a list of people who are willing to coach at Rails Girls workshops. If you are a Rails Girls organizer in need of coaches, please
        %a{ href: "mailto:roar@rorganize.it" } contact us,
        and we will send you a list.

      - if logged_in?(current_person)
        %p
          If you are interested in becoming a Rails Girls coach fill in the relevant info on your
          %a{ href: edit_person_path(current_person) } profile page.
          The world will love you for it!
      - else
        %p
          If you are interested in becoming a Rails Girls coach
          %a{ href: new_person_registration_path } sign up to the app,
          and then fill in the relevant info on your profile page.

  %hr
  .row
    .col-md-8
      %ul.list-group
        - @coaches.each do |coach|
          %li.list-group-item.clearfix
            .row
              .col-md-2
                = person_avatar(coach)
              .col-md-8
                %h3
                  = profile_link(coach)
                - if logged_in?(current_person) && coach_location?(coach)
                  %p #{coach.city} #{coach.country}

    %aside.sidebar.col-md-4
      = render 'shared/filter'
