<div class="container student-list">
  <h1>Coaches overview</h1><br /><br />
  <div class="row">
    <div class="col-md-8">
      <ul class="list-group">
        <% @coaches.each do |coach| %>
          <li class="list-group-item clearfix">
            <div class="media pull-left">
              <a class="pull-left" href="<%= coach_path(coach) %>">
                <%= image_tag(coach.picture_url(:thumb), size: "40x40") if coach.picture.present? %>
              </a>
              <div class="media-body">
                <h4 class="media-heading"><%= coach.full_name %></h4>
                <p><%= coach.group.name if coach.group %></p>
              </div>
            </div>
            <div class="pull-right">
              <div class="btn-group">
                <%= link_to coach_path(coach), :class => 'btn btn-default' do %>
                  <%= fa_icon "user", text: "Profile" %>
                <% end %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
