<%= form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <%= label_tag(:title, "Blogpost title") %>
    <%= f.text_field :title, placeholder: "What's this blogpost about?", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= label_tag(:description, "Text") %>
    <%= f.text_area :description, placeholder: "Tell the world what's happening with our app!", class: 'form-control', rows: '10' %>
  </div>
  <div class='form-group'>
    <%= label_tag(:picture, "Add a pic") %>
    <%= f.file_field :picture %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

