<article class='latest-post-overview'>
  <header>
    <% if current_person && current_person.has_role(:admin) && post.draft == true %>
      <p class="pull-right"><%= fa_icon "edit", text: "it's a draft" %></p>
    <% end %>
    <h2><%= link_to "#{post.try(:title)}", post_path(post) %></h2>
    <p id="post-username">
      <%= post.person.first_name if post.person %> |
      <%= post.created_at.strftime("%d %b %Y") %>
    </p>
  </header>
  <main>
    <div id="post-description">
      <%= markdown(post.description) %>
    </div>
    <div class='post-picture'>
      <%= image_tag(post.picture_url, :width => 700) if post.picture.present? %>
    </div>
  </main>
</article>