<article class='post'>
  <header>
    <% if current_person && current_person.has_role(:admin) && post.draft == true %>
      <p class="pull-right"><%= fa_icon "file-o", text: "it's a draft" %></p>
    <% end %>
    <h2><%= link_to "#{post.try(:title)}", post_path(post) %></h2>
    <p class="post-meta">
      <%= post.person.first_name if post.person %> |
      <%= post.created_at.strftime("%d %b %Y") %>
    </p>
  </header>
  <main>
    <div class="post-body">
      <%= markdown(post.description) %>
    </div>
    <div class="post-picture">
      <%= image_tag(post.picture_url, :width => 700) if post.picture.present? %>
    </div>
  </main>
</article>