%ul.sub-nav{role: "navigation"}
  %li= link_to "← All posts", posts_path

%article.post.post-single
  .h1.page-header Rubycorns Blog
  .action-buttons
    - if current_person.admin?
      = link_to 'Edit post', edit_post_path(@post), class: 'btn btn-teal'
      = link_to 'Delete post', @post, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-pink'

  %header
    - if current_person.admin? && @post.draft?
      %p.post-draft
        It's a draft!
    %h1.h2.post-title
      = link_to @post.title, post_path(@post)
    %p.post-meta
      = @post.person.first_name if @post.person
      |
      = show_date(@post)
  .post-body
    = markdown(@post.description)

  .post-picture
    = image_tag(@post.preview_picture)


.post-browsing
  - if @post.newer_post
    %p.post-newer
      = link_to "< More recent post", post_path(@post.newer_post)
  - if @post.older_post
    %p.post-older
      = link_to "Older post >", post_path(@post.older_post)
