<div class='container'>

  <h1>Corporate Blog</h1>
  <div class='twitter-feed'>
    <a class="twitter-timeline" href="https://twitter.com/rubycorns" data-widget-id="467588755692322816">Tweets by @rubycorns</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>

  <div class='latest-post-overview'>
    <h2><%= @post.title %></h2>
    <div id='post-username'>
      <%= @post.person.first_name if @post.person %> |
      <%= @post.created_at %>
    </div>
    <div id="post-description">
      <%= markdown(@post.description) %>
    </div>
    <div class='post-picture'>
      <%= image_tag(@post.picture_url, :width => 700) if @post.picture.present? %>
    </div>
    <div id="post-edit-delete-buttons">
      <% if current_person.has_role? :admin %>
        <%= link_to 'edit', edit_post_path(@post) %> |
        <%= link_to 'delete', @post, method: :delete, data: {confirm: 'Are you sure?'} %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Back', posts_path %>
</div>