<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoRganize.it | Find a Rails Girls Study Group</title>
  <%=  stylesheet_link_tag (params[:redesign] ?  'redesign' :  'application'), media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body class="<%= controller.controller_name %>">
  <header>
    <nav class="navbar" role="navigation">
      <%= link_to(image_tag("rorganizeit-logo.svg", alt: "RoRganize.it Logo", title: "Home"), root_path, {class: "header-logo"}) %>
      <ul class="main-nav">
        <li class="<%= 'active' if params[:controller] == 'groups' %>">
          <a href="<%= groups_path %>" title="Groups">Groups</b></a>
        </li>
        <li class="<%= 'active' if params[:controller].in? ['people', 'coaches'] %>">
          <a href="<%= people_path %>" title="All people">People</b></a>
        </li>
        <li class="<%= 'active' if params[:controller] == 'posts' %>">
          <a href="<%= posts_path %>" title="Blog">Blog</b></a>
        </li>
        <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'about' %>">
          <a href="<%= about_path %>" title="About us">About</b></a>
        </li>
      </ul>
      <% if person_signed_in? %>
        <ul class="profile-header">
          <li>
            <% if current_person.picture.present? %>
              <%= link_to(image_tag(current_person.picture_url(:thumb), size: "40x40", alt: current_person.full_name, title: current_person.full_name), current_person) %>
            <% else %>
              <%= image_tag('/avatar.png', size: "40x40", alt: current_person.full_name, title: current_person.full_name) %>
            <% end %>
            <%= link_to current_person.full_name, current_person %>
          </li>
            <li><%= link_to "logout", destroy_person_session_path, method: :delete %></li>
            <% if current_person.admin? %>
              <li role="presentation" class="divider"></li>
              <li><%= link_to 'Admin dashboard', dashboard_path %></li>
            <% end %>
        </ul>
      </div>
      <% else %>
        <ul class="profile-header not-logged-in">
        <li><%= link_to 'Sign in', new_person_session_path, class: 'sign-in' %></li>
        <li><%= link_to 'Sign up', new_person_registration_path, class: 'sign-in' %></li>
        <li><%= link_to(content_tag(:span, "Sign in with GitHub", class: 'gh-sign-in'), person_omniauth_authorize_path(:github))  %></li>
      </ul>
      <% end %>
    </nav>
  </header>
  <div class="main-container">
    <% [:notice, :error, :alert, :success].each do |level| %>
      <% unless flash[level].blank? %>
        <div class="alert alert-<%= flash_class(level) %>">
          <p>
            <%= flash[level] %>
          </p>
          <button type="button" class="alert-close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </div>
      <% end %>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
