<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RailsGirlsApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="header-container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("RailsGirlsApp", root_path, {class: "navbar-brand"}) %>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'groups' %>">
              <%= link_to "Groups", groups_path %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'students' %>">
              <%= link_to "Students", students_path %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'coaches' %>">
              <%= link_to "Coaches", coaches_path %>
            </li>
          </ul>
          <% if person_signed_in? %>
          <ul class="nav navbar-nav navbar-right profile-header">
            <li>
              <div class="media profile-header">
                <a class="pull-left" href="#">
                  <%= image_tag(current_person.picture_url(:thumb), size: "40x40" ) if current_person.picture.present? %>
                </a>
                <div class="media-body">
                  <p class="media-heading"><%= link_to current_person.full_name, current_person %><br>
                  <%= link_to "logout", destroy_person_session_path, method: :delete %></p>
                </div>
              </div>
            </li>
          </ul>
          <% end %>
        </div>
      </div>
    </nav>
  </header>
  <div class="main-container">

    <% [:notice, :error, :alert].each do |level| %>
      <% unless flash[level].blank? %>
        <p class="container alert alert/dismissable alert-<%= flash_class(level) %>">
          <%= flash[level] %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </p>
      <% end %>
    <% end %>

    <%= yield %>

  </div>

  <footer class="footer-container">
    <div class="container">
      <p class="pull-left">made with 
        <span class="glyphicon glyphicon-heart"></span> by the 
        <%= link_to("rubycorns", "https://twitter.com/rubycorns") %><br>
      check the code on 
        <%= link_to("Github", "//github.com/rubycorns/RailsGirlsApp") %>
      </p>
      <div class="pull-right">
        <p><a href="https://shellycloud.com/" target="_blank"><img src="//shellycloud.com/assets/badge.png" alt="Shellycloud badge"></a></p>
      </div>
    </div>
  </footer>
</body>
</html>
