<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RoRganize.it | Find a Rails Girls Study Group</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</head>
<body class="<%= controller.controller_name %>">
  <header class="header-container">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag("rorganize_logo_new.png", alt: "RoRganize.it Logo", title: "Home"), root_path, {class: "navbar-brand"}) %>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <% if person_signed_in? %>
            <div class="dropdown navbar-nav navbar-right profile-header">
              <button class="dropdown-toggle no-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <% if current_person.picture.present? %>
                  <%= image_tag(current_person.picture_url(:thumb), size: "40x40" ) %>
                <% else %>
                  <%= image_tag('/avatar.png', size: "40x40" ) %>
                <% end %>
                <%= fa_icon "caret-down" %>
              </button>
              <ul class="dropdown-menu " role="menu">
                <li><%= link_to current_person.full_name, current_person %></li>
                <li><%= link_to "logout", destroy_person_session_path, method: :delete %></li>
                <% if current_person.admin? %>
                  <li role="presentation" class="divider"></li>
                  <li><%= link_to 'Admin dashboard', dashboard_path %></li>
                <% end %>
              </ul>
            </div>
          <% else %>
          <ul class="nav navbar-nav navbar-right profile-header">
            <li><%= link_to 'Sign in', new_person_session_path %></li>
            <li><%= link_to 'Sign up', new_person_registration_path %></li>
            <li><%= link_to "Sign in with GitHub", person_omniauth_authorize_path(:github) %></li>
          </ul>
          <% end %>
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'groups' %>">
              <%= link_to "Groups", groups_path %>
            </li>
            <li class="<%= 'active' if params[:controller].in? ['people', 'coaches'] %>">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">People <b class="caret"></b></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "All", people_path %></li>
                <li><%= link_to "Workshop Coaches", coaches_path %> </li>
              </ul>
            </li>
            <li class="<%= 'active' if params[:controller] == 'posts' %>">
              <%= link_to 'Blog', posts_path %>
            </li>
            <li class="<%= 'active' if params[:controller] == 'pages' && params[:action] == 'about' %>">
              <%= link_to 'About', about_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="main-container">
    <% [:notice, :error, :alert, :success].each do |level| %>
      <% unless flash[level].blank? %>
        <p class="container alert alert-dismissable alert-<%= flash_class(level) %>">
          <%= flash[level] %>
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        </p>
      <% end %>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
